`<label>Введите Имя</label>
<!--Передача значений из TS в HTML-->
<input [(ngModel)]="name" placeholder="name">
<h1><span>Добро пожаловать</span> {{name}}!</h1>
<br>
<hr>
<br>

<div class="page-header">
  <h1>Список Покупок</h1>
</div>
<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <input class="form-control" [(ngModel)]="text" placeholder="Название"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <input class="form-control" [(ngModel)]="price" placeholder="Цена"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <!--        Привязка метода компонента к событию, нужно указыать атрибут в скобкаха чтобы можно было вызвать метод их TS-->
        <!--        вызов метода из HTML в TS-->
        <button class="btn btn-secondary" (click)="addItem(text, price)">Добавить</button>
      </div>
    </div>
  </div>

  <div class="form-inline div_coment_group">

    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <!--        Передача данных из HTML сразу в TS-->
        <input class="form-control" [(ngModel)]="id" placeholder="ID товара"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <input class="form-control" [(ngModel)]="info" placeholder="Коментарий"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button class="btn btn-secondary" (click)="addComents(id, info)">Добавить</button>
      </div>
    </div>

  </div>


  <table class="table product_table">
    <thead class="thead-dark">
    <tr>
      <th>Предмет</th>
      <th>Цена</th>
      <th>Куплено</th>
      <th>Описание</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <!--    В двойныз фигурных скобках указыывается выражение к которому идёт привязка {{выражение}}, указывается значение поля передаваемого и компонентов ангуляр-->
      <td>{{item.purchase}}</td>
      <td>{{item.price}}</td>
      <td><input type="checkbox" [(ngModel)]="item.done"/></td>
      <td>{{item.info}}</td>
    </tr>
    </tbody>
  </table>
  <!-- DOM Привязка свойств  Передача значения атрибуту из TS в Html -->

  <input type="text" [value]="mandala"/>
  <h1>{{name}}</h1>
</div>
<hr>
<!--Изменение значений компонентов через css через TS-->
<div [class.red]="red"></div>
<div [class]="blue"></div>

<hr>
<!--Привязка стилей изменяет значение текста по клику на checkbox -->
<div class="div_red_green" [style.backgroundColor]="isRed? 'red' : 'green'"></div>
<div [style.backgroundColor]="!isRed ? 'red' : 'green'"></div>
<label>
  <input type="checkbox" [(ngModel)]="isRed"/>
</label>

<hr>
<h1>child - Начало</h1>
<!--Добовление дочернего компонента -->
<!--Добовление в дочерний элемент свойств рдительскоро и их значений-->
<child-comp [name]="name"
            [(userName)]="nameUser"
            (onChanged)="onChanged($event)"
            [count]="count" [studentName]="student"
            #conunterShablon>
  <h2 class="h2_From">Hello From App-Component</h2>
  <h2 #headerContent>Добро Пожаловать {{nameContentChild}}!</h2>
</child-comp>

<h1>child - Конец</h1>
<!--Передача параметров от главного элемента дочернему через сеттер-->
<input type="number" [(ngModel)]="count">

<!--Передача параметра из родительского компонента в дочерни
 и редактирование этого параметра
 в методах дочернего компонента с последующим возвратом  -->
<hr>
<!--Событие дочернего  компонента поле в родительском компоненте -->
<h2>Количество кликов: {{clics}}</h2>
<hr>
<!--Двустороння присвязка между свойствами главного и дочернего компонента-->
<div>Выбранное Имя: {{nameUser}}</div>

<!--ngOnChanges-->
<input type="text" [(ngModel)]="name"/>
<input type="number" [(ngModel)]="age"/>


<!--//ШАблонная переменная привязывает к полю #Шаблона в html
данную переменную можно использовать внуть html,
внутри шаблонаКласса можно выполнять опирации над переменной
которые будут отображатся в html, можно использовать только в нутри шаблона
для использования шаблоных переменных, внутри дрогого компонента
нужно добовлять ViewChild-->
<p #shablonNames>{{shablonName}}</p>
<p>{{shablonNames.textContent}}</p>
<input type="text" [(ngModel)]="shablonName">


<!--Изменение дочерней  шаблонной переменной через оснвной шаблон-->

<button (click)="incrimentconunterShablon()">+</button>
<button (click)="decrimentconunterShablon()">-</button>


<!--Соединение шаблоннай переменной с переменной компонента-->
<h3 #elementTextShablon>{{name}}</h3>
<h3>{{elementTextShablon.textContent}}</h3>
<button (click)="change()">Изменить</button>

<!--Импортирование дополнительных модулей на примере DataModule-->

<div class="div_data_comp">
  <data-comp></data-comp>
</div>

<!--
Компоненты: компонент по сути также является директивой, а декоратор @Component расширяет возможности декоратора @Directive с помощью добавления функционала по работе с шаблонами.

Атрибутивные: они изменяют поведение уже существующего элемента, к которому они применяются. Например, ngModel, ngStyle, ngClass

Структурные: они изменяют структуру DOM с помощью добавления, изменения или удаления элементов html. Например, это директивы ngFor и ngIf
-->
<!--Дерективa ngClass используются удобного добовления свойств css-->
<div [ngClass]="{verdanaFont:isVerdana}">
  <h1>Welcom Directiv</h1>
  <p [ngClass]="{segoePrintFont:isSegoe}">
    Angular представляет моддельную структуру приложения
  </p>
</div>

<!--Динамическое изменение стилей -->
<div [ngClass]="{invisibleee: visibilitys}">
  <h1>Welcom Dinamic</h1>
  <p>Angular The Best Worold Federation</p>
</div>
<button (click)="toogle()">Toogle</button>

<!--Создание собственных дересктив "Атрибутные дерективы"-->

<hr>
<div>
  <h1 bold>Welcom My Directiwe Bold</h1>
</div>
<!--Создание собственных дересктив c прослушивание различных событий @HostListener-->
<div>
  <h1 hostListener>Welcom My Directiwe HostListener</h1>
</div>

<!--HostBinding позволяет связать обычное свойство класса со свойством элемента-->
<div>
  <h1 hostBind>Welcom My Directiwe HostListener</h1>
</div>

<!--Отдельное совйство host в дерективе -->
<div>
  <h1 hostHost>Welcom My Directiwe HostListener</h1>
</div>

<!--@HostBinding  Получение параметров в директивах-->
<div>
  <h1 HostBindingNew>Welcom My Directiwe HostListener</h1>
  <p [HostBindingNew]="'28px'" [defaultSize]="'14px'">Angular The Best Worold Federation</p>
</div>

<hr>
<!--Структурные директивы ngIf, ngFor, ngSwitch-->
<div>
  <h1 hostHost>Welcom My Directiwe StructurDerective</h1>
  <!--ngIf позволяет удалить либо добавить контент при определённых условиях  -->
  <p *ngIf="condition">Condition Eight</p>
  <p *ngIf="!condition">Condition NoWisibal</p>
  <button (click)="toggleCondition()">ToggleCondition</button>
</div>
<hr>
<!--ng-template позволяет делать опирации выборки через then и else-->
<div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><p>Condition Eight</p></ng-template>
<ng-template #elseBlock><p>Condition NoWisibal</p></ng-template>
<button (click)="toggleCondition()">ToggleCondition</button>
<hr>
<!--ngFor цикл для перебора значений масивы
при переборе элементом доступен индекс элемента через переменную index которую мы также можем использовать -->
<ul>
  <li *ngFor="let item of masiv; let i = index">{{i + 1}}.{{item}}</li>
</ul>

<hr>
<!--ngSwitch в аглуяр с его помошью строится конструкция Switch case-->
<!--[ngSwitch]= однонаправленная привязка просто вывод значение из класа компонента-->
<div [ngSwitch]="countNgSwitch">
  <ng-template ngSwitchCase="1">{{countNgSwitch * 10}}</ng-template>
  <ng-template ngSwitchCase="2">{{countNgSwitch * 100}}</ng-template>
  <ng-template ngSwitchDefault>{{countNgSwitch * 1000}}</ng-template>
</div>
<hr>
<!--Создание собственной дерективый-->
<p *while="conditionWhile">Параграф Один</p>
<p *while="!conditionWhile">Параграф Два</p>
<button (click)="toogleWhile()">ToggleCondition</button>
<hr>
<!--Рабоа с данными из дополнительного компонета DataServic-->
<div>
  <!-- [(ngModel)] Двунаправленная привязка к модели, делается для отслеживания изменений элемента  itemDataServis-->
  <input type="text" [(ngModel)]="itemDataServis">
  <button (click)="addDataServiceItem(itemDataServis)">AddItem</button>

  <table>
    <tr *ngFor="let item of itemsDataServis">
      <td>{{item}}</td>
    </tr>
  </table>
</div>

<hr>
<!--РАзника между Одноправленной привязкой и двунаправленной-->
<!--[ngModel]= однонаправленная привязка просто вывод значение из класа компонента-->
<!-- [(ngModel)] Двунаправленная привязка к модели, делается для отслеживания изменений элемента  itemDataServis-->
<h1>РАзника между Одноправленной привязкой и двунаправленной</h1>
<div>
  <div class="form-group">
    <label> Название модели</label>
    <input class="form-control" name="title" [(ngModel)]="title"/>
  </div>
  <div class="form-group">
    <label>Цена</label>
    <input type="number" class="form-control" name="price" [(ngModel)]="price"/>
  </div>
  <div class="form-group">
    <label>Производитель</label>
    <select class="form-control" name="company" [(ngModel)]="company">
      <option *ngFor="let comp of itemsDataServis" [value]="comp">
        {{comp}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addPhones()">Добавить</button>
  </div>
</div>
<div><h3>Добавленне элементы</h3>
  <ul *ngFor="let p of phones">
    <li>{{p.title}} ({{p.company}}) - {{p.price}}</li>
  </ul>
</div>

<!--Добавление,  создание общей модели phone  -->
<hr>
<h1>Добавление, создание общей модели phone</h1>
<div>
  <div class="form-group">
    <label> Название модели</label>
    <input class="form-control" name="titleM" [(ngModel)]="phone.title"/>
  </div>
  <div class="form-group">
    <label>Цена</label>
    <input type="number" class="form-control" name="priceM" [(ngModel)]="phone.price"/>
  </div>
  <div class="form-group">
    <label>Производитель</label>
    <select class="form-control" name="companyM" [(ngModel)]="phone.company">
      <option *ngFor="let comp of itemsDataServis" [value]="comp">
        {{comp}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addPhone()">Добавить</button>
  </div>
</div>
<div><h3>Добавленне элементы</h3>
  <ul *ngFor="let p of phones">
    <li>{{p.title}} ({{p.company}}) - {{p.price}}</li>
  </ul>
</div>
<hr>
<!--Директива ngModel позволяет определить объект ngModel, который будет связан с опредеоённым элементом ввода-->
<h1>Директива ngModel позволяет определить объект ngModel, который будет связан с опредеоённым элементом ввода</h1>

<div>
  <div class="form-group">
    <label>Название Модели</label>
    <!--(change)="onTitleChange()" позволяет(проконтролировать изменение моделт) сразу выполнять метод по обработки события например проверка ввода в данное поля,
!!!!! работает тольок после покидания поля-->
    <input class="form-control" name="titleO" [(ngModel)]="phone.title" #phoneTitle="ngModel"
           (change)="onTitleChange()"/>
  </div>
  <div class="form-group">
    <label>Цена</label>
    <!--    (ngModelChange)="onTitleModelChange()" Выполняте проверку на момент ввода в поля не покидая поля-->
    <input type="number" class="form-control" name="priceO" [(ngModel)]="phone.price" #phonePrice="ngModel"
           (ngModelChange)="onTitleModelChange()"/>
  </div>
  <div class="form-group">
    <label>Производитель</label>
    <select class="form-control" name="companyO" [(ngModel)]="phone.company" #phoneCompany="ngModel">
      <option *ngFor="let comp of itemsDataServis" [value]="comp">
        {{comp}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addPhoneNgModel(phoneTitle, phonePrice, phoneCompany)">Добавить</button>
  </div>
  <div>
    <p>{{phoneTitle.name}} : {{phoneTitle.model}} </p>
    <p>{{phonePrice.name}} : {{phonePrice.model}} </p>
    <p>{{phoneCompany.name}} : {{phoneCompany.model}} </p>
  </div>
</div>
`

<!--Сотояние модели-->
<hr>
<h1>Сотояние модели</h1>
<!--
ng-untouched - работает в том случае если элемент ввода еще не получал фокус, то устанавливается класс ng-untouched.
ng-touched работает в том случае если поле ввода уже получало фокус, к нему применяется класс ng-touched.
При этом получение фокуса не обязательно должно сопровождаться изменением значения в этом поле.

ng-dirty = устанавливается если первоначальное значение в поле ввода было изменено.
ng-pristine - устанавливается если если  значение не изменялось с момента загрузки страницы,

ng-valid - применяется если значение в поле ввода корректно,
ng-invalid - применяется если значение некорректно,

required: требует обязательного ввода значения

pattern: задает регулярное выражение, которому должны соответствовать вводимые данные
-->
<div>
  <div class="form-group">
    <label>Имя</label>
    <input class="form-control" name="name" [(ngModel)]="user.name" #nameUsers="ngModel" required/>
    <div [hidden]="nameUsers.valid || nameUsers.untouched" class="alert alert-info">
      Не указано имя
    </div>
  </div>

  <div class="form-group">

    <label>Email</label>
    <input class="form-control" name="email" [(ngModel)]="user.email" #emailUsers="ngModel"
           required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
    <!--    Если hidden = true это означает что блок div скрыт,  если false - тогда появится-->
    <div [hidden]="emailUsers.valid || emailUsers.untouched" class="alert alert-danger">
      Некорректный email
    </div>
  </div>

  <div class="form-group">
    <label>Телефон</label>
    <input class="form-control" name="phone" [(ngModel)]="user.phone" #phoneUsers="ngModel"
           required pattern="[0-9]{10}"/>
    <!--    Номер телефона водится без доп. символов, только  10 цифр -->
    <div [hidden]="phoneUsers.valid || phoneUsers.untouched" class="alert alert-danger">
      Некорректный телефон
    </div>
  </div>
  <!--Кнопка работать не будет до тех пор пока не буду введены коректные данные в поля-->
  <div class="form-group">
    <button [disabled]="nameUsers.invalid || emailUsers.invalid || phoneUsers.invalid" class="btn btn-default"
            (click)="addUser()">Добавить
    </button>
  </div>
</div>

<!--Работа с формами директива NgForm
Все элементы ввода помещаются с специальные формат
Данный подход называется Template-Driven, который концентрируется вокруг шаблона компонента,
в шаблоне компонента к элементам html применяются директивы ngModel и NgForm, правила валидации задаются с помошью
атрибутов required и pattern;
<form>

Деректива myForm инкапсулирует все элементы формы к которым применяется директива ngModel,
и позволяет получить доступ к состоянию этих объектов.
-->
<h1>Работа с формами директива NgForm</h1>
<form #myForm="ngForm" novalidate>
  <div class="form-group">
    <label>Имя</label>
    <input class="form-control" name="name" [(ngModel)]="nameModel" required/>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" [(ngModel)]="emailModel" required/>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input class="form-control" name="phone" [(ngModel)]="phoneModel" required pattern="[0-9]{10}"/>
  </div>
  <div class="form-group">
    <button [disabled]="myForm.invalid" class="btn btn-default" (click)="submit(myForm)">Добавить</button>
  </div>
</form>
<div>Имя: {{myForm.value.name}}</div>
<div>Email: {{myForm.value.email}}</div>
<div>Phone: {{myForm.value.phone}}</div>

<!--Отправка формы в TS с помошью дерективы ngSUbmit-->
<h1>Отправка формы в TS с помошью дерективы ngSUbmi</h1>
<form #myFormSubmit="ngForm" novalidate (ngSubmit)="submitSubmit(myFormSubmit)">
  <div class="form-group">
    <label>Имя</label>
    <input class="form-control" name="name" [(ngModel)]="nameSubmit" required/>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" [(ngModel)]="emailSubmit" required/>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <input class="form-control" name="phone" [(ngModel)]="phoneSubmit" required pattern="[0-9]{10}"/>
  </div>
  <div class="form-group">
    <input type="submit" [disabled]="myFormSubmit.invalid" class="btn btn-default" value="Отправить"/>
  </div>
</form>
<div>Имя: {{myFormSubmit.value.name}}</div>
<div>Email: {{myFormSubmit.value.email}}</div>
<div>Phone: {{myFormSubmit.value.phone}}</div>

<!--Использование рeактивных форм, для отображения не котектного ввода в поле, альтернативный подход Reactive Forms-->
<h1>Использование рeактивных форм для отображения не котектного ввода в поле, альтернативный подход Reactive Forms</h1>
<form [formGroup]="myFormReactive" novalidate (ngSubmit)="submitReactive()">

  <div class="form-group">
    <label>Имя</label>
    <input class="form-control" name="name" formControlName="userName">
    <div class="alert alert-danger"
         *ngIf="myFormReactive.controls['userName'].invalid && myFormReactive.controls['userName'].touched">
      Некоректное имя
    </div>
  </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" formControlName="userEmail">
      <div class="alert alert-danger"
           *ngIf="myFormReactive.controls['userEmail'].invalid && myFormReactive.controls['userEmail'].touched">
        Некоректный email
      </div>
    </div>

<!--    ДОбавление масива телефоных номеров -->
  <h1>ДОбавление масива телефоных номеров</h1>
  <div formArrayName="userPhone">
    <div class="form-group" *ngFor="let phone of getFormsControls()['controls']; let i = index">
      <label>Телефон {{i}}</label>
      <input class="form-control" name="phone" formControlName="{{i}}">
    </div>
    <div class="alert alert-danger"
         *ngIf="myFormReactive.controls['userPhone'].invalid && myFormReactive.controls['userPhone'].touched">
      Некоректный Телефон
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" (click)="addPhoneMass()">
      Добавить телефон
    </button>
  </div>
    <div class="form-group">
      <button class="btn btn-default" [disabled]="myFormReactive.invalid">
        Отправить
      </button>
    </div>
</form>

<!--HTTP взаимодейатвие с сервером HttpClient и отправка запросов-->
<!--Нужно в package.json добавить в зависимости @angular/common-->
<!--в appModule нужно добавить HttpClientModule-->
<br>
<h1>HTTP взаимодейатвие с сервером HttpClient и отправка запросов</h1>
<div>
  <p> Имя Пользователя: {{userHttp?.name}}</p>
  <p>Возраст пользователя: {{userHttp?.age}}</p>
</div>

<div>
  <p> Имя Пользователя: {{userHttpService?.name}}</p>
  <p>Возраст пользователя: {{userHttpService?.age}}</p>
</div>

<!--Получение JSON массива-->
<h1>Получение JSON массива</h1>

  <ul>
    <li *ngFor="let u of usersService">
      <p>Имя Пользователя: {{u?.name}}</p>
      <p>Возраст Пользователя: {{u?.age}}</p>
    </li>
  </ul>


<!--Объект Observable и Библиотека RxJS  - для работы в pacckage.json нужно подключить библиотеку rxjs-->

