span{
  color: red;
}


.product_table{
  width: 50%;
  margin-top: 15px;
}

.div_coment_group{
  margin-top: 15px;
}

.red{
  width: 100px;
  height: 100px;
  background-color: red;
}
.blue{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.div_red_green{
  width: 100px;
  height: 100px;
}
.h2_From{
  color: darkmagenta;
}

.div_data_comp{
  margin-top: 15px;
  background-color: azure;
}
.verdanaFont{
  margin-top: 20px;
  font-size: 13px;
  font-family: Verdana, serif;
}
.segoePrintFont{
  font-size: 22px;
  font-family: "Segoe Print", serif;
  color: fuchsia;
}
