<h1 class="title_wilcome">Welcome Child_Component - {{name}}</h1>
<!--Добовление в дочерний компонент свойств из родительского -->
<ng-content></ng-content>
<h1>Welcom Student {{studentName}}</h1>
<!--Передача параметра из родительского компонента в дочерни
 и редактирование этого параметра
 в методах дочернего компонента с последующим возвратом  -->
<h1>Student Count {{countS}}</h1>

<hr>
<!--Привязка к событиям дочерненго компонента
 Передаёт событие change по нажатию на кнопку родителькому компоненту
 для этого используется событие EventEmiter, при этом свойство onChange
 должно быть Output-->
<button (click)="change(true)">+</button>
<button (click)="change(false)">-</button>

<hr>
<!--Двустороння присвязка между свойствами главного и дочернего компонента-->
<div>
  <label>
    <input [ngModel]="userName" (ngModelChange)="onNameChange($event)"/>
  </label>
</div>
<p>Welcom {{name}}</p>
<!--
ngOnChanges: вызывается до метода ngOnInit() при начальной установке свойств, которые связаны механизмом привязки, а также при любой их переустановке или изменении их значений. Данный метод в качестве параметра принимает объект класса SimpleChanges, который содержит предыдущие и текущие значения свойства.

ngOnInit: вызывается один раз после установки свойств компонента, которые участвуют в привязке. Выполняет инициализацию компонента

ngDoCheck: вызывается при каждой проверке изменений свойств компонента сразу после методов ngOnChanges и ngOnInit

ngAfterContentInit: вызывается один раз после метода ngDoCheck() после вставки содержимого в представление компонента кода html

ngAfterContentChecked: вызывается фреймворком Angular при проверке изменений содержимого, которое добавляется в представление компонента. Вызывается после метода ngAfterContentInit() и после каждого последующего вызова метода ngDoCheck().

ngAfterViewInit: вызывается фреймворком Angular после инициализации представления компонента, а также представлений дочерних компонентов. Вызывается только один раз сразу после первого вызова метода ngAfterContentChecked()

ngAfterViewChecked: вызывается фреймворком Angular после проверки на изменения в представлении компонента, а также проверки представлений дочерних компонентов. Вызывается после первого вызова метода ngAfterViewInit() и после каждого последующего вызова ngAfterContentChecked()
-->
<p>{{conunterShablon}}</p>
<button (click)="incrimentconunterShablon()">+</button>
<button (click)="decrimentconunterShablon()">-</button>

<!--Приём шаблонных переменных их главного компонента и изменнеие их в дочернем -->
<ng-content></ng-content>
<button (click)="changeContentChild()">Изменить</button>
